{% extends 'base.html.twig' %}

{% block title %}New Normeinstrument{% endblock %}

{% block body %}
    <h1>Create new Normeinstrument</h1>

    {{ include('normeinstrument/_form.html.twig') }}

    <a href="{{ path('normeinstrument_index') }}">back to list</a>
{% endblock %}
