<form method="post" action="{{ path('instrument_generale_delete', {'id': instrument_generale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instrument_generale.id) }}">
    <button class="btn">Delete</button>
</form>
