{% extends 'base.html.twig' %}

{% block title %}Norme{% endblock %}

{% block body %}
    <h1>Norme</h1>

    <table class="table">
        <tbody>
            <tr>
            
                <th>Id</th>
                <td>{{ norme.id }}</td>
            
            
                  
            </tr>
        </tbody>
    </table>

    <a href="{{ path('norme_index') }}">back to list</a>

    <a href="{{ path('norme_edit', {'id': norme.id}) }}">edit</a>

    {{ include('norme/_delete_form.html.twig') }}
{% endblock %}
